
$form-margin: 0.8rem;
$form-overhang: 0 - $form-margin;
$phone: "only screen and (max-width : 400px)";

$meeting-info-color: #daddff;
$rule-color: #aaa;
$header-color: #0005a8;
$body-color: #8f1731;
$card-color: #f9edcb;
$summary-color: #cccccc;

body {
    background-color: $body-color;
    
    .p-component {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
    
}

#app {
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    
    #app-header {
        background-color: $header-color;
        width: 100%;
        padding: 0 $form-margin;
        overflow: hidden;
        color: white;
        text-align: left;
        font-size: 14px;
    }
    
    #app-content {
        position: relative;
        margin: auto;
        max-width: 600px;
        padding: 0;

        #meeting-info {
    
            button.p-button {
                display: block;
                width: 100%;
                padding: $form-margin;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $rule-color;
                background-color: $meeting-info-color;
                color: black;
                font-size: 18px;
                font-weight: 900;
                
                &:hover {
                    background-color: darken($meeting-info-color, 10%)
                }
            }
            
            #meeting-name {
                text-align: left;
            }
            
            #delegates-allowed {
                text-align: right;
            }
            
            .p-button.p-button-text-only .p-button-text {
                padding: 0;
            }
        
        }
        
        #subcaucus-container {
            background: white;
            
            #subcaucus-header {
                display: flex;
                
                #subcaucus-management-head {
                    width: 3em;
                    flex-grow: 0;
                }
                
                #subcaucus-name-head {
                    width: 1em;
                    flex-grow: 8;
                }
                
                #subcaucus-count-head {
                    width: 1em;
                    flex-grow: 3;
                    text-align: right;
                }
                
                #subcaucus-delegates-head {
                    width: 1em;
                    flex-grow: 3;
                    text-align: right;
                }
                
                button.p-button {
                    border: none;
                    border-radius: 0;
                    background-color: black;
                    text-align: left;
                    
                    &.p-disabled {
                        opacity: 1;
                        filter: none;
                    }
                }
                
                .pi-circle-off {
                    color: #555;
                }
            }
            
            .subcaucus-row {
                display: flex;
                border-bottom: 1px solid $rule-color;
                
                textarea,
                input[type='text'] {
                    border: none;
                }
                
                textarea {
                    resize: none;
                }
                
                .subcaucus-remove-button {
                    flex-grow: 0;
                    margin: $form-margin;
                    border: none;
                    background-color: $body-color;
                    
                    &:hover {
                        background-color: lighten($body-color, 25%)
                    }
                }
                
                .subcaucus-field {
                    width: 1em;
                    flex-grow: 5;
                    margin-right: $form-margin;
                    font-size: 18px;
                }
                
                .subcaucus-name {
                    margin-top: 0;
                    padding-top: 17px;
                }
                
                .subcaucus-count {
                    flex-grow: 1;
                    text-align: right;
                }
                
                .subcaucus-delegates-button {
                    width: 4em;
                    flex-grow: 0;
                    margin-right: 0;
                    border: none;
                    color: $body-color;
                    font-size: 18px;
                    font-weight: 900;
                    
                    &.has-delegates {
                        background-color: green;
                        color: white;
                    }
                }
            }
            
            #add-subcaucus-button {
                margin: $form-margin;
                background-color: $header-color;
                
                &:hover {
                    background-color: lighten($header-color, 25%)
                }
            }
        }
        
    }
    
    .p-card {
        position: absolute;
        top: ( 5 * $form-margin );
        left: $form-margin;
        right: $form-margin;
        min-width: 300px;
        max-width: 500px;
        margin: auto;
        background-color: $card-color;
        
        .p-card-content {
            input {
                width: 100%;
            }
        }

        .p-button {
            margin-right: $form-margin;
        }
    
    }
    
}

.background-blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.row {
    display: flex;
    padding-top: 10px;
    background-color: $meeting-info-color;
    border-top: 1px solid $rule-color;
    border-bottom: 1px solid $rule-color;
    
    .cell {
        width: 1px;
        flex-grow: 3;
        margin: $form-margin;
        
        @media #{$phone} {
            flex-grow: 2;
        }
        
        &.number {
            flex-grow: 1;
            
            label {
                text-align: right;
            }
        }
        
        label {
            right: 0.25em;
            white-space: nowrap;
        }
        
        input {
            width: 100%;
            padding: 0 0.25em;
            border: none;
            background-color: transparent;
            
            &.number {
                text-align: right;
            }
        }
    }
    
    &.meeting-info {
        padding-bottom: 0;
        
        .cell {
            margin-bottom: 0.15em;

            input {
                margin-top: -0.5em;
                padding-bottom: 0;
                font-size: 18px;
                font-weight: 900;                
            }
        }       
    }
}