
$form-margin: 0.8rem;
$form-overhang: 0 - $form-margin;
$phone: "only screen and (max-width : 400px)";

$meeting-info-color: #daddff;
$rule-color: #aaa;
$header-color: #0005a8;
$body-color: #8f1731;
$card-color: #f9edcb;
$summary-color: #cccccc;
$success-color: rgb(58, 148, 58);
$count-width: 60px;
$delegate-width: 80px;

body {
    background-color: $body-color;
    
    .p-component {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
    
}

#app {
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    
    #app-byline,
    #app-instruction-button,
    #app-about-button {
        background-color: $header-color;
        width: 100%;
        padding: $form-margin;
        border: none;
        border-radius: 0;
        overflow: hidden;
        color: white;
        text-align: left;
        
        .p-button-text {
            padding: 0;
        }
        
        &:hover {
            background-color: lighten($header-color, 25%)
        }
    }
    
    #app-byline {
        display: block;
        font-size: 9px;
        text-align: right;
    }
    
    #app-header {
        display: flex;
        
        #app-about-button {
            flex: 1 0 5rem;
        }
        
        #app-instruction-button {
            flex: 0 1 2.5rem;
        }
    }
    
    #app-main-menu {
        border: none;
        border-radius: 0;
        background-color: $header-color;
        
        & > .p-menubar-root-list {
            
            & > .p-menuitem {
                
                &.p-menuitem-active {
                    & > .p-menuitem-link {
                        background-color: lighten($header-color, 25%);
                        
                        
                        &:hover {
                            background-color: lighten($header-color, 25%);
                        }
                    }
                    
                    & > .p-submenu-list {
                        margin-top: -2px;
                        border-color: lighten($header-color, 25%);
                        
                        .p-menuitem.p-menuitem-active > .p-menuitem-link {
                            background-color: lighten($header-color, 55%);
                            
                            &:hover {
                                background-color: lighten($header-color, 55%);
                            }
                        }
                    }
                }
                
                & > .p-menuitem-link {
                    padding-bottom: $form-margin;
                    
                    &:hover {
                        background-color: lighten($header-color, 25%);
                    }
                    
                    & > .p-menuitem-icon,
                    & > .p-menuitem-text {
                        color: white;
                    }
                    
                    & > .p-submenu-icon{
                        display: none;
                    }
                    
                }
            }
        }
    }
    
    #app-content {
        position: relative;
        margin: auto;
        max-width: 600px;
        padding: 0;

        #meeting-info {
    
            button.p-button {
                display: block;
                width: 100%;
                padding: $form-margin;
                border-radius: 0;
                border: none;
                background-color: $meeting-info-color;
                color: black;
                font-size: 18px;
                font-weight: 900;
                
                &:hover {
                    background-color: darken($meeting-info-color, 10%)
                }
            }
            
            #meeting-name {
                border-bottom: 1px solid $rule-color;
                text-align: left;
            }
            
            #delegates-allowed {
                text-align: right;
            }
            
            .p-button.p-button-text-only .p-button-text {
                padding: 0;
            }
        
        }
        
        #subcaucus-container {
            background: white;
            
            #subcaucus-header {
                display: flex;
                
                #subcaucus-name-head {
                    flex: 1 0 5em;
                }
                
                #subcaucus-count-head {
                    flex: 0 0 ($count-width + 40px);
                    width: ($count-width + 40px);
                    text-align: right;
                }
                
                #subcaucus-delegate-head {
                    flex: 0 0 $delegate-width;
                    width: $delegate-width;
                    text-align: center;
                }
                
                button.p-button {
                    border: none;
                    border-radius: 0;
                    background-color: black;
                    text-align: left;
                    
                    &.p-disabled {
                        opacity: 1;
                        filter: none;
                    }
                }
                
                .pi-circle-off {
                    color: #555;
                }
            }
            
            .subcaucus-row {
                position: relative;
                display: flex;
                border-bottom: 1px solid $rule-color;
                
                textarea,
                input[type='text'] {
                    background-color: transparent;
                    border: none;
                }
                
                textarea {
                    resize: none;
                }
                
                // .subcaucus-remove-button {
                //     flex-grow: 0;
                //     margin: $form-margin;
                //     border: none;
                //     background-color: $body-color;
                    
                //     &:hover {
                //         background-color: lighten($body-color, 25%)
                //     }
                // }
                
                .subcaucus-id {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    color: $rule-color;
                    font-size: 50%;
                }
                
                .subcaucus-field {
                    margin-right: $form-margin;
                    font-size: 18px;
                }
                
                .subcaucus-name {
                    flex: 1 0 5em;
                    margin-top: 0;
                    margin-left: $form-margin;
                    padding-top: 14px;
                    padding-left: 0;
                }
                
                .subcaucus-count {
                    flex: 0 0 $count-width;
                    width: $count-width;
                    padding-top: 14px;
                    text-align: right;
                }
                
                .subcaucus-delegates-button {
                    flex: 0 0 $delegate-width;
                    width: $delegate-width;
                    margin-right: 0;
                    border: none;
                    border-radius: 0;
                    color: $body-color;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                }
                
                &.has-delegates {
                    
                    .subcaucus-delegates-button {
                        background-color: $success-color;
                        color: white;
                        
                        &:hover {
                            background-color: lighten($success-color, 25%);
                        }
                    }
                }
                
                &.no-delegates {
                    background-color: lighten($body-color, 63%);
                }
            }
            
            #subcaucus-footer {
                .p-button {
                    margin: $form-margin 0 $form-margin $form-margin;
                    border: none;
                }
                
                #add-subcaucus-button {
                    background-color: $header-color;
                    
                    &:hover {
                        background-color: lighten($header-color, 25%)
                    }
                }
                
                #remove-empty-subcaucuses-button {
                    background-color: $body-color;
                    
                    &:hover {
                        background-color: lighten($body-color, 25%)
                    }
                }
            }
        }
        
        #summary-container {
            background-color: $summary-color;

            .summary-row {
                position: relative;
                display: flex;
                width: 100%;
                padding: $form-margin 0;
                border-top: 1px solid $rule-color;
                font-size: 18px;
                
                &.clickable {
                    cursor: pointer;
                    
                    &:hover {
                        background-color: lighten($summary-color, 5%)
                    }
                }
                .summary-label {
                    flex: 1 0 5em;
                    margin-top: 0;
                    margin-left: $form-margin;                    
                }
                
                .summary-count {
                    flex: 0 0 $count-width;
                    width: $count-width;
                    padding-right: $form-margin;
                    text-align: right;
                }
                
                .summary-delegates {
                    flex: 0 0 $delegate-width;
                    width: $delegate-width;
                    padding-right: $form-margin;
                    text-align: right;
                }
            }
        }
    }
    
    .p-card.valuecard {
        position: absolute;
        top: ( 5 * $form-margin );
        left: $form-margin;
        right: $form-margin;
        min-width: 300px;
        max-width: 500px;
        margin: auto;
        background-color: $card-color;
        
        .picture-container {
            position: relative;
            
            .p-button {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                border: none;
                background-color: transparent;
                color: white;
                
                &:hover {
                    color: $card-color;
                }
            }
        }
        .p-card-content {
            margin-bottom: 0 - $form-margin;
            
            input {
                width: 100%;
            }
        }

        .p-card-footer {
            text-align: left;
            
            .p-button {
                margin-top: $form-margin;
                margin-right: $form-margin;
            }
        }
        
    }
    
    .success-color {
        color: $success-color;
    }
}

.background-blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.row {
    display: flex;
    padding-top: 10px;
    background-color: $meeting-info-color;
    border-top: 1px solid $rule-color;
    border-bottom: 1px solid $rule-color;
    
    .cell {
        width: 1px;
        flex-grow: 3;
        margin: $form-margin;
        
        @media #{$phone} {
            flex-grow: 2;
        }
        
        &.number {
            flex-grow: 1;
            
            label {
                text-align: right;
            }
        }
        
        label {
            right: 0.25em;
            white-space: nowrap;
        }
        
        input {
            width: 100%;
            padding: 0 0.25em;
            border: none;
            background-color: transparent;
            
            &.number {
                text-align: right;
            }
        }
    }
    
    &.meeting-info {
        padding-bottom: 0;
        
        .cell {
            margin-bottom: 0.15em;

            input {
                margin-top: -0.5em;
                padding-bottom: 0;
                font-size: 18px;
                font-weight: 900;                
            }
        }       
    }
}